$lightBlue: #BCE6EC;
$lightPurple: #B9A9FB;
$lightGreen: #DBFF73;
$aqua: #6DD3C2;
$blue: #1966F7;
$red: #FF5C17;

$n0: #FFFFFF;
$n1: #F7FBFA;
$n2: #F1F4F4;
$n3: #E1E2E2;
$n4: #A6AEAD;
$n5: #686A6C;
$n6: #555555;
$n7: #202025;
$n8: #010101;

$o1: rgba($n1, .5);
$o3: rgba($n3, .5);
$o5: rgba($n5, .75);
$o6: rgba($n6, .5);
$o7-50: rgba($n7, .5);
$o7-75: rgba($n7, .75);

$shade: #898E8E;

$grd: conic-gradient(from 180deg at 50% 50%, #5FFF5C -18.66deg, #FFE249 22.23deg, #F35950 78.14deg, #7C5BFF 159deg, #1CE4FF 202.32deg, #5FFF5C 341.34deg, #FFE249 382.23deg);
