@import "../../styles/helpers";

.wrapper {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  min-height: 100vh;
  background: $n8;

  @include sm {
    display: block;
  }
}

.col {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  width: 50%;
  padding: rem(80);

  @include xlg {
    padding: rem(64);
  }

  @include lg {
    padding: rem(40);
  }

  @include md {
    width: 100%;
    padding: rem(40) rem(24);
  }
}

.banner {
  background-color: $lightBlue;
  justify-content: space-between;
}

.info {
  font-size: rem(48);
  line-height: rem(54);
  letter-spacing: -0.02em;
  font-weight: 700;
}

.logo {
  display: flex;
  align-items: center;

  svg path {
    fill: $n7;
  }

  span {
    text-transform: uppercase;
    font-weight: 700;
    color: $n7;
    margin-left: rem(12);
  }
}

.title {
  font-size: rem(64);
  color: $n0;
  margin-bottom: rem(48);
}

.loginField {
  margin-bottom: rem(24);

  &:last-of-type {
    margin-bottom: rem(32);
  }
}

.button {
  width: 100%;
  border: rem(2) solid $n0;
  background: transparent;

  & svg {
    fill: $n0;
    margin-left: rem(8);
  }

  &:hover {
    background: $n0;
    color: $n8;

    & svg {
      fill: $n8;
    }
  }
}
