@import '../../styles/helpers';

.success {
  position: relative;
  z-index: 12;
  margin: auto auto;
  min-width: 480px;
}

.wrapper {
  width: 100%;
  border-radius: rem(24);
  padding: rem(64);
  background-color: $n0;
  text-align: center;
}

.title {
  font-size: rem(48);
  line-height: rem(54);
  letter-spacing: -0.02em;
  font-weight: 700;
  margin-bottom: rem(48);
}

.button {
  width: 100%;
  background-color: $n7;

  &:hover {
    background-color: $n8;
  }
}

